.App {
  background: cornsilk;
  font-family: Pacifico;
  text-align: center;
}
body{
  background: cornsilk;
}
#input {
  border-radius: 0.5rem;
  padding: 0.3rem;
  text-align: center;
}
#output {
  padding: 0.7rem;
  margin: 0.7rem;
}
